@mixin transform($params)
  -webkit-transform: #{$params}
  -moz-transform: #{$params}
  -ms-transform: #{$params}
  -o-transform: #{$params}
  transform: #{$params}

@mixin scale($scale)
  @include transform("scale(#{$scale})")

@mixin linear-gradient($params)
  background: -moz-linear-gradient(#{$params})
  background: -webkit-linear-gradient(#{$params})
  background: -o-linear-gradient(#{$params})
  background: -ms-linear-gradient(#{$params})
  background: linear-gradient(#{$params})

@mixin user-select($params)
  -webkit-touch-callout: $params
  -webkit-user-select: $params
  -khtml-user-select: $params
  -moz-user-select: $params
  -ms-user-select: $params
  user-select: $params

@font-face
  font-family: cursive-en
  src: url('fonts/Champignon.ttf')

@font-face
  font-family: cursive-ch
  src: url('fonts/蒙纳囍宴体.ttf')
  unicode-range: U+4E00-9FCC

@mixin text-blink
  from
    color: #000
  to
    color: #aaa

@-webkit-keyframes text-blink
  @include text-blink

@keyframes text-blink
  @include text-blink

$scroll-width: 800px
$scrolling-duration: 2s
$scrolling-timing: ease-in-out

a
  text-decoration: none
  color: #77f
  transition: color 0.25s linear

  &:hover
    color: #44f

body
  background-color: #ccc
  overflow-y: scroll

.arrow
  $size: 8px

  border-left: $size solid transparent
  border-right: $size solid transparent
  border-bottom: $size solid black
  display: inline-block
  height: 0
  transition: border 1s
  width: 0

#container
  width: $scroll-width
  margin: 0 auto
  text-align: center

.roll-container
  $roll-height: 40px
  $roll-height-ratio: 1.75
  $v-shadow: 14px
  $shadow-blur: 12px
  $shadow-spread: -10px
  $shadow-color: black

  width: 100%
  height: $roll-height
  position: relative

  transition: height $scrolling-duration $scrolling-timing

  .axis
    $height: $roll-height / 2

    width: 100%
    height: $height
    border-radius: $height / 2
    box-shadow: 0px 8px 8px -4px gray
    margin-top: -$height / 2
    position: absolute
    top: 50%

    @include linear-gradient("top, black 0%, gray 50%, black 100%")

  .roll
    $color: #c28f52
    $color-light: #efcc9b
    $border: 1px solid #c18e51

    width: 94%
    height: 100%
    border-radius: 1.5% / 50%
    border:
      left: $border
      right: $border
    margin: 0 auto
    box-shadow: 0 $v-shadow $shadow-blur $shadow-spread $shadow-color
    position: absolute
    top: 0
    bottom: 0
    left: 1px
    right: 1px

    @include linear-gradient("top, #{$color} 0%, #{$color-light} 50%, #{$color} 100%")
    transition: width $scrolling-duration $scrolling-timing, box-shadow $scrolling-duration $scrolling-timing

    &:hover
      @include linear-gradient("top, #{$color+16} 0%, #{$color-light+16} 50%, #{$color+16} 100%")

  &.collapsed
    height: $roll-height * $roll-height-ratio

    .roll
      width: 98%
      box-shadow: 0 $v-shadow * $roll-height-ratio $shadow-blur * $roll-height-ratio $shadow-spread $shadow-color

      .arrow
        border-color: transparent

#scroll
  $grad-outer: #ab733f
  $grad-inner: #ffdbaa
  $grad-size: 4%

  font:
    family: 'Noto Serif', serif
    style: italic
  width: 91%
  overflow: hidden
  box-shadow: 3px 0 20px gray
  margin: 0 auto

  @include linear-gradient("left, #{$grad-outer} 0%, #{$grad-inner} #{$grad-size}, #{$grad-inner} #{100% - $grad-size}, #{$grad-outer} 100%")
  @include user-select(none)

#scroll.scrolling
  transition: height $scrolling-duration $scrolling-timing

#scroll-content
  padding: 30px

#en-name, #ch-name
  @mixin animation
    name: text-blink
    duration: 2s
    timing-function: ease-in
    iteration-count: infinite
    direction: alternate

  font:
    size: 4em
    weight: normal
    style: normal

  -webkit-animation:
    @include animation
  animation:
    @include animation

#en-name
  font-family: cursive-en, cursive, serif
  margin-bottom: 0

#ch-name
  font-family: cursive-ch, cursive, serif
  margin-top: 0
