!!! 5
%html
  %head
    %title Su Zhang's Pages
    %meta{charset: 'UTF-8'}
    %link{rel: 'stylesheet', href: 'index.css'}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31699318-1']);
      _gaq.push(['_setDomainName', 'zhang.su']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #container
      .roll-container
        .axis
        .roll
      #scroll
        #scroll-content
          #name Su Zhang
          %a{class: 'heading', href: 'http://github.com/zhangsu'} GitHub
          .desc My projects.
          %a{class: 'heading', href: 'resume'} Resume
          .desc Professional stuff about me.
          %a{class: 'heading', href: 'lover'} Lover
          .desc A two player HTML5 canvas game.
      .roll-container
        .axis
        .roll
    %script{type: 'text/javascript', src: 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}
    %script{type: 'text/javascript', src: 'index.js'}
