!!! 5
%html
  %head
    %title Su Zhang's Pages
    %meta{charset: 'UTF-8'}
    %link{rel: 'stylesheet', href: 'index.css'}
  %body
    .roll-container
      .axis
      .roll-mask
        .roll
    #scroll
      #scroll-content
        #name Su Zhang
        %a{class: 'heading', href: 'http://github.com/zhangsu'} GitHub
        .desc My projects.
        %a{class: 'heading', href: 'resume'} Resume
        .desc Professional stuff about me.
        %a{class: 'heading', href: 'lover'} Lover
        .desc A two player HTML5 canvas game.
    .roll-container
      .axis
      .roll-mask
        .roll
