@mixin transition($params)
  -webkit-transition: #{$params}
  -moz-transition: #{$params}
  -ms-transition: #{$params}
  -o-transition: #{$params}
  transition: #{$params}

@mixin transform($params)
  -webkit-transform: #{$params}
  -moz-transform: #{$params}
  -ms-transform: #{$params}
  -o-transform: #{$params}
  transform: #{$params}

@mixin scale($scale)
  @include transform("scale(#{$scale})")

@mixin linear-gradient($params)
  background: -moz-linear-gradient(#{$params})
  background: -webkit-linear-gradient(#{$params})
  background: -o-linear-gradient(#{$params})
  background: -ms-linear-gradient(#{$params})
  background: linear-gradient(#{$params})

@font-face
  font-family: theme
  src: url('fonts/theme.ttf')

$scroll-width: 800px
$scrolling-duration: 2s
$scrolling-timing: ease-in-out

a
  text-decoration: none

body
  background-color: #ccc
  overflow-y: scroll

#container
  width: $scroll-width
  margin: 0 auto

.roll-container
  $roll-height: 40px

  width: 100%
  height: $roll-height
  position: relative

  @include transition("height #{$scrolling-duration} #{$scrolling-timing}")

  .axis
    $height: $roll-height / 2

    width: 100%
    height: $height
    border-radius: $height / 2
    box-shadow: 0px 8px 8px -4px gray
    margin-top: -$height / 2
    position: absolute
    top: 50%

    @include linear-gradient("top, black 0%, gray 50%, black 100%")

  .roll
    $color: #666
    $color-light: #bbb
    $border: 1px solid gray

    width: 94%
    height: 100%
    border-radius: 1.5% / 50%
    border:
      left: $border
      right: $border
    margin: 0 auto
    box-shadow: 0 14px 12px -10px gray
    position: absolute
    top: 0
    bottom: 0
    left: 1px
    right: 1px

    @include linear-gradient("top, #{$color} 0%, #{$color-light} 50%, #{$color} 100%")
    @include transition("width #{$scrolling-duration} #{$scrolling-timing}")

    &:hover
      @include linear-gradient("top, #{$color+16} 0%, #{$color-light+16} 50%, #{$color+16} 100%")

  &.collapsed
    height: $roll-height + 30px

    .roll
      width: 98%


#scroll
  $grad-outer: #aaa
  $grad-inner: #f2f2f2
  $grad-size: 4%

  font:
    family: theme, consolas, monospace
    size: 40px
  text-align: center
  width: 91%
  overflow: hidden
  box-shadow: 3px 0 20px gray
  margin: 0 auto

  @include linear-gradient("left, #{$grad-outer} 0%, #{$grad-inner} #{$grad-size}, #{$grad-inner} #{100% - $grad-size}, #{$grad-outer} 100%")

#scroll.scrolling
  @include transition("height #{$scrolling-duration} #{$scrolling-timing}")

#scroll-content
  padding: 30px

#name
  font-size: 90px

.heading
  $hover-size: 80px

  display: inline-block
  font-size: 70px
  line-height: $hover-size
  margin-top: 20px

  @include transition("font-size 0.5s")

  &:hover
    font-size: $hover-size

.hint
  font-size: 30px
  color: gray
  margin-top: 40px
