!!! 5
%html
  %head
    %title Su Zhang's Pages
    %meta{charset: 'UTF-8'}
    %link{rel: 'stylesheet', href: 'index.css'}
  %body
    %div
      %a{href: 'lover'} Lover
      A two player HTML5 canvas game.
    %div
      %a{href: 'resume'} Resume
