doctype 5
html
  head
    title Su Zhang's Pages
    meta charset='UTF-8'
    link rel='stylesheet' href='index.css'
    script type='text/javascript' src='analytics.js'
  body
    #container
      .roll-container
        .axis
        .roll
      #scroll
        #scroll-content
          h1#name Su Zhang
          h2
            a href='http://github.com/zhangsu' GitHub
          p A list of my projects, including...<br>
          p
            a href='http://activities.zhang.su' Activitila
            |  - My activities on social networks.
          p
            a href='lover' Lover
            |  - A two player HTML5 canvas game.
          h2
            a href='resume' Resume
          | Professional info about me.
      .roll-container
        .axis
        .roll
          .arrow
    script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'
    script type='text/javascript' src='index.js'
