@font-face {
  font-family: DjbDoodlieBeans; src: url(font/djb_doodlie_beans.ttf);
}

body {
  background: #ccc;
  text-align: center;
}

* {
  font-family: DjbDoodlieBeans;
  text-shadow: 3px 3px 3px gray;
}

#container {
  background: #fff;
  display: inline-block;
  padding: 24px;
  border: 1px solid #777;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
}

#viewport {
  border: 1px solid #888;
}

#canvas-title {
  width: 100%;
  min-width: 800px;
  font-size: 60px;
  color: yellow;
  position: absolute;
  top: 0;
  left: 0;
}

#highscore {
  width: 100%;
  min-width: 800px;
  font-size: 20px;
}

#highscore > div:first-child {
  font-size: 60px;
  color: red;
}

#highscore > div:nth-child(2) {
  font-size: 50px;
  color: blue;
}

#highscore > div:nth-child(3) {
  font-size: 35px;
  color: purple;
}

#highscore-header {
  margin-top: 40px;
  font-size: 40px;
}